<html>

<head>
    <title>Let's Memorize Hiragana!</title>
    <% include partials/header %>
        <script src="/js/index.js"></script>
</head>

<body>
    <div data-role="main" class="ui-content">
        <a href="ready" class="ui-btn" style="top: 50%;">Go to Page Ready</a>
    </div>
</body>

</html>