<html>

    <head>
        <title>Let's Memorize Hiragana!</title>
        <meta charset="UTF-8">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="/library/jqm/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" href="/css/full-screen.css">
        <link rel="stylesheet" href="/css/test-writing.css">
        <link rel="stylesheet" href="/css/test-writing-incorrect.css">

        <script src="/library/jquery-2.1.4.min.js"></script>
        <script src="/library/jqm/jquery.mobile-1.4.5.min.js"></script>
        <script src="/library/long.min.js"></script>
        <script src="/library/bytebuffer.min.js"></script>
        <script src="/library/protobuf.min.js"></script>
    </head>

    <body>
        <div data-role='page' id='page-index'>
            <div data-role="main" class="ui-content">
                <a href="#page-ready" class="ui-btn" style="top: 50%;">Go to Page Ready</a>
            </div>
        </div>

        <div data-role='page' id='page-ready'>
            <div data-role="main">
                <form action="#page-test-loading" data-ajax="false">
                    <fieldset data-role="controlgroup" data-iconpos="right">
                        <legend>연습할 행을 선택해주세요.</legend>
                    </fieldset>
                    <input type="submit" value="START!!">
                </form>
                <div data-role="footer">
                    <h4>Footer content</h4>
                </div>
            </div>
        </div>

        <div data-role="page" id='page-test-loading'>
        </div>

        <div data-role="page" id='page-test-writing'>
            <div data-role="main" class="ui-content">
                <h1 id='test-writing-korean' align='center'></h1>
                <div id='test-writing-canvas-container'>
                    <canvas id='test-writing-canvas'></canvas>
                </div>
                <button id='test-writing-clear-button' class="ui-button" data-inline="true">지우기</button>
                <button id='test-writing-submit' class="ui-button" data-inline="true">제출</button>
            </div>
        </div>

        <div data-role="page" id='page-test-writing-incorrect'>
            <div data-role="main" class="ui-content">
                <h1 class='ui-grid-solo'>내가 쓴 것</h1>
                <div id='test-writing-incorrect-my-answer-container' class='ui-grid-a'>
                    <div id='test-writing-incorrect-my-answer-canvas-container' class='ui-block-a'>
                        <canvas id='test-writing-incorrect-my-answer-canvas'></canvas>
                    </div>
                    <h1 id='test-writing-incorrect-my-answer-recognized' class='ui-block-b' align='center'>아(あ)</h1>
                </div>
                <h1 class='ui-grid-solo'>정답</h1>
                <div id='test-writing-incorrect-correct-answer-container' class='ui-grid-solo'>
                    <h1 id='test-writing-incorrect-correct-answer' align='center'>아 | あ</h1>
                </div>
                <h1 class='ui-grid-solo'>다시 써보기</h1>
                <div id='test-writing-incorrect-repeat-container' class='ui-grid-solo'>
                    <div id='test-writing-incorrect-repeat-canvas-container'>
                        <canvas id='test-writing-incorrect-repeat-canvas'></canvas>
                    </div>
                </div>
                <button id='test-writing-incorrect-next-button' class='ui-button'>다음</button>
            </div>
        </div>


        <script src="/build/bundle.js"></script>
    </body>

</html>