<html>

<head>
    <title>Let's Memorize Hiragana!</title>
    <% include partials/header %>
        <script src="/js/index.js"></script>
</head>

<body>
    <div data-role="page" id='page-writing'>
        <div data-role="main" class="ui-content">
        </div>
    </div>
</body>

</html>